<span class="user">
  <span class="user-avatar">
    <% if user.avatar.attached? %>
      <div class="my-2">
        <%#= image_tag user.avatar %>
        <%= image_tag(user.avatar, class: 'img-icon') %>
      </div>
    <% end %>
    <%#= image_tag(user_avatar(user), class: 'img-icon') %>
  </span>
  <span class="user-name">
    <% if request.path == user_path(user) %>
      <%= user.name %>
    <% else %>
      <%= link_to user.name, user_path(user) %>
    <% end %>
  </span>
</span>
